<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-expand-lg navbar-danger bg-warning">
  <!-- <a class="navbar-brand" href="#"></a> -->
  <img class="ml-5" src="image/metneak2.jpg" width="5%" height="50px" alt="">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item active ">
        <a class="border border-left-0 border-bottom-0 border-top-0 nav-link text-light" href="#">
            <i class="fa fa-home" aria-hidden="true"></i>&nbsp &nbsp Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="border border-left-0 border-bottom-0 border-top-0 nav-link text-light" href="#">
          <i class="fa fa-bell" aria-hidden="true"></i>&nbsp &nbsp Notification</a>
      </li>
      
      <li class="nav-item ">
        <a class="border border-left-0 border-bottom-0 border-top-0 nav-link text-light " href="#">
          USERNAME
        </a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link text-light  dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
    </ul>


    </div>
</nav>