
<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="icon/fontawesome/css/all.min.css">
<link rel="stylesheet" href="node_modules/sweetalert2/dist/sweetalert2.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">