<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns="http://www.w3.org/1999/xhtml" layout:decorator="home">

<head>
    <title>metneak</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
 
   <script src="/static/js/post.js"></script>
    <style>
        body{
            background-color: #dff9fb;
        }
        #cover {
            /* background-color:#eb4d4b; */
            height: 216px;
        }
        .mt12 {
            margin-top: 12px;
        }
        .intro {
            position: relative;
            background-color: #fff;
            margin: 0 auto;
            height: 300px;
        }
        .feed {
            /* background-color: #dff9fb; */
            height: 300px;
        
        }
        #profile {
            height: 120px;
            width: 120px;
            /* background-color: #e056fd; */
            position: absolute;
            left: 0;
            right: 0;
            top: -60px;
            margin: 0 auto;
            border-radius: 50%;
        }
        
        @media only screen and (max-width: 768px) {
            #profile {
                width: 150px;
                height: 150px;
                top: -75px;
            }
            .intro {
                height: unset;
            }
            .feed {
                margin-top: 85px;
              
            }
        }
    </style>
</head>

<body>
    
    <div class="container" layout:fragment="content">
         <div class="shadow" id="cover" style="height: 400px; overflow: hidden;">
                <img id="" src="image/homepagebackground.jpg" alt="">
         </div>
         <div class="row mt12">
             <div class="col-md-4 ">
                 <div class="intro shadow">
            
                       <img class="shadow" id="profile" src="image/metneak.png" alt="">
                 
                        <br><br><br>
                        <center>
                            <h4><b th:text="${NAME}"></b></h4>
                        </center>
                        <div class="mx-5 py-2">
                            <h6><i class="fa fa-location-arrow mr-2" aria-hidden="true"></i>Intro</h6>
                            <h6 th:text="${'Studied at '+GROUPS.get(0).getSchool().getName()}"><i class="fa fa-university mr-2" aria-hidden="true"></i>Studied at HRD</h6>
                            <h6 th:text="${'Studied at '+GROUPS.get(1).getSchool().getName()}"><i class="fa fa-university mr-2" aria-hidden="true"></i>Studied at HRD</h6>
                            <h6 th:text="${'Studied at '+GROUPS.get(2).getSchool().getName()}"><i class="fa fa-university mr-2" aria-hidden="true"></i>Studied at HRD</h6>
                            <h6 th:text="${LOCATION}"><i class="fa fa-location-arrow mr-2" aria-hidden="true"></i>From Urgran</h6>
                        </div>
                       
                 </div>
             </div>
             <div class="col-md-6">
                 <div class="feed" id="post">

                 </div>
             </div>
         </div>
    </div>

    <div layout:fragment="scriptor">
        <script src="js/html-element-generator.js"></script>
        <script>
            $(".feed").append(generatePost("image/metneak.png"));
        </script>
        <script>
            //to shpw post by group id
            function show() {
                $.ajax({
                    type: "GET",
                    url: "http://localhost:8080/api/post/",
                    success: function(response) {
                        console.log(response)
                        posterGenerate(response);
                    },
                    error: err => {
                    console.log(err);
            }
            });
            }
            show();

            //to generate post by pass poster object ,
            function posterGenerate(poster) {
                var arrayPosters = poster["Post"];
                //  console.log(arrayPosters); //loop here to multiple posters

                for (var i = 0; i < arrayPosters.length; i++) {
                    console.log(i);
                    var Post = arrayPosters[i];

                    var comments = Post["comments"]; //multi column
                    var likes = Post["likes"]; //multi like

                    var detail = Post["detail"];  //get post detial

                    var group_id = Post["group_id"];//get group id that post to

                    var post_id = Post["id"];    //post id

                    var post_img = Post["image"];   //poster image

                    var user_id = Post["user_id"];   //get owner id poster

                    var owner_name = Post["user"];//get object user post owner

                    var userImg = owner_name["image"] == null ? 'IMG_3770.jpg': owner_name["image"];   //if null image ser default

                    var name = owner_name["name"];   //owner name

                    //get posters
                    document.getElementById("post").innerHTML += generatePost(
                        " image/" + userImg,
                        name,
                        "time",
                        detail,
                        " image/" + post_img,
                        likes,
                        comments
                    );
                }
            }

            posterGenerate();










        </script>
    </div>
</body>

</html>