<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns="http://www.w3.org/1999/xhtml" layout:decorator="home">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .content-body {
            min-height: 600px;
        }

        .inputer {
            margin-top: 10%;
            margin-bottom: 10%;
            border-radius: 15px;
        }
        .btn-form-submit{
            border-radius: 25px;
            width: 40%;
        }
        .margin-header{
            margin: auto 0px;
        }
    </style>
</head> 

<body>
    <div layout:fragment="content" class="container">
        <datalist id="browsers">
            <option th:each="SCHOOL : ${SCHOOLS}" th:value="${SCHOOL.name}">
        </datalist>
        <div class="container-fluid mt-5 bg-light">
            <div class="row  content-body">
                <br>

                <div class="col-1">
                    <br>
                    <i class="fa fa-4x fa-arrow-circle-left" aria-hidden="true" style="color:#ffc107;"></i>
                </div>
                <div class="col-10 margin-header">
                    <br>
                    <center>
                        <h3>
                            <b>
                                    ពត៍មានអំពីសាលារបស់អ្នក
                            </b>
                           
                        </h3>

                    </center>
                </div>
                <div class="col-1">

                </div>
                <div class="col-2"></div>
                <div class="col-5  home"  id="schoolForm">

                    <input type="text" list="browsers" placeholder="Primary School"
                        class="form-control form-control-lg inputer " id="pri_school">
                    <input type="text" list="browsers" placeholder="Pre School"
                        class="form-control form-control-lg inputer" id="pre_school">
                    <input type="text" list="browsers" placeholder="High School"
                        class="form-control form-control-lg inputer" id="high_school">
                </div>
                <!-- right side -->
                <div class="col-5  home">
                    <select name="" id="y1" placeholder="" class="form-control form-control-lg inputer w-50">
                        <option value="" disabled selected>Year</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <option value="2008">2008</option>
                        <option value="2007">2007</option>
                        <option value="2006">2006</option>
                        <option value="2005">2005</option>
                        <option value="2004">2004</option>
                        <option value="2003">2003</option>
                        <option value="2002">2002</option>
                        <option value="2001">2001</option>
                        <option value="2000">2000</option>
                        <option value="1999">1999</option>
                        <option value="1998">1998</option>
                        <option value="1997">1997</option>
                        <option value="1996">1996</option>
                        <option value="1995">1995</option>
                        <option value="1994">1994</option>
                        <option value="1993">1993</option>
                        <option value="1992">1992</option>
                        <option value="1991">1991</option>
                        <option value="1990">1990</option>
                        <option value="1989">1989</option>
                        <option value="1988">1988</option>
                        <option value="1987">1987</option>
                        <option value="1986">1986</option>
                        <option value="1985">1985</option>
                        <option value="1984">1984</option>
                        <option value="1983">1983</option>
                        <option value="1982">1982</option>
                        <option value="1981">1981</option>
                        <option value="1980">1980</option>
                        <option value="1979">1979</option>
                        <option value="1978">1978</option>
                        <option value="1977">1977</option>
                        <option value="1976">1976</option>
                        <option value="1975">1975</option>
                        <option value="1974">1974</option>
                        <option value="1973">1973</option>
                        <option value="1972">1972</option>
                        <option value="1971">1971</option>
                        <option value="1970">1970</option>
                        <option value="1969">1969</option>
                        <option value="1968">1968</option>
                        <option value="1967">1967</option>
                        <option value="1966">1966</option>
                        <option value="1965">1965</option>
                        <option value="1964">1964</option>
                        <option value="1963">1963</option>
                        <option value="1962">1962</option>
                        <option value="1961">1961</option>
                        <option value="1960">1960</option>
                        <option value="1959">1959</option>
                        <option value="1958">1958</option>
                        <option value="1957">1957</option>
                        <option value="1956">1956</option>
                        <option value="1955">1955</option>
                        <option value="1954">1954</option>
                        <option value="1953">1953</option>
                        <option value="1952">1952</option>
                        <option value="1951">1951</option>
                        <option value="1950">1950</option>

                    </select>
                    <select name="" id="y2" class="form-control form-control-lg inputer w-50">
                        <option value="" disabled selected>Year</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <option value="2008">2008</option>
                        <option value="2007">2007</option>
                        <option value="2006">2006</option>
                        <option value="2005">2005</option>
                        <option value="2004">2004</option>
                        <option value="2003">2003</option>
                        <option value="2002">2002</option>
                        <option value="2001">2001</option>
                        <option value="2000">2000</option>
                        <option value="1999">1999</option>
                        <option value="1998">1998</option>
                        <option value="1997">1997</option>
                        <option value="1996">1996</option>
                        <option value="1995">1995</option>
                        <option value="1994">1994</option>
                        <option value="1993">1993</option>
                        <option value="1992">1992</option>
                        <option value="1991">1991</option>
                        <option value="1990">1990</option>
                        <option value="1989">1989</option>
                        <option value="1988">1988</option>
                        <option value="1987">1987</option>
                        <option value="1986">1986</option>
                        <option value="1985">1985</option>
                        <option value="1984">1984</option>
                        <option value="1983">1983</option>
                        <option value="1982">1982</option>
                        <option value="1981">1981</option>
                        <option value="1980">1980</option>
                        <option value="1979">1979</option>
                        <option value="1978">1978</option>
                        <option value="1977">1977</option>
                        <option value="1976">1976</option>
                        <option value="1975">1975</option>
                        <option value="1974">1974</option>
                        <option value="1973">1973</option>
                        <option value="1972">1972</option>
                        <option value="1971">1971</option>
                        <option value="1970">1970</option>
                        <option value="1969">1969</option>
                        <option value="1968">1968</option>
                        <option value="1967">1967</option>
                        <option value="1966">1966</option>
                        <option value="1965">1965</option>
                        <option value="1964">1964</option>
                        <option value="1963">1963</option>
                        <option value="1962">1962</option>
                        <option value="1961">1961</option>
                        <option value="1960">1960</option>
                        <option value="1959">1959</option>
                        <option value="1958">1958</option>
                        <option value="1957">1957</option>
                        <option value="1956">1956</option>
                        <option value="1955">1955</option>
                        <option value="1954">1954</option>
                        <option value="1953">1953</option>
                        <option value="1952">1952</option>
                        <option value="1951">1951</option>
                        <option value="1950">1950</option>

                    </select>
                    <select name="" id="y3" class="form-control form-control-lg inputer w-50">
                        <option value="" disabled selected>Year</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <option value="2008">2008</option>
                        <option value="2007">2007</option>
                        <option value="2006">2006</option>
                        <option value="2005">2005</option>
                        <option value="2004">2004</option>
                        <option value="2003">2003</option>
                        <option value="2002">2002</option>
                        <option value="2001">2001</option>
                        <option value="2000">2000</option>
                        <option value="1999">1999</option>
                        <option value="1998">1998</option>
                        <option value="1997">1997</option>
                        <option value="1996">1996</option>
                        <option value="1995">1995</option>
                        <option value="1994">1994</option>
                        <option value="1993">1993</option>
                        <option value="1992">1992</option>
                        <option value="1991">1991</option>
                        <option value="1990">1990</option>
                        <option value="1989">1989</option>
                        <option value="1988">1988</option>
                        <option value="1987">1987</option>
                        <option value="1986">1986</option>
                        <option value="1985">1985</option>
                        <option value="1984">1984</option>
                        <option value="1983">1983</option>
                        <option value="1982">1982</option>
                        <option value="1981">1981</option>
                        <option value="1980">1980</option>
                        <option value="1979">1979</option>
                        <option value="1978">1978</option>
                        <option value="1977">1977</option>
                        <option value="1976">1976</option>
                        <option value="1975">1975</option>
                        <option value="1974">1974</option>
                        <option value="1973">1973</option>
                        <option value="1972">1972</option>
                        <option value="1971">1971</option>
                        <option value="1970">1970</option>
                        <option value="1969">1969</option>
                        <option value="1968">1968</option>
                        <option value="1967">1967</option>
                        <option value="1966">1966</option>
                        <option value="1965">1965</option>
                        <option value="1964">1964</option>
                        <option value="1963">1963</option>
                        <option value="1962">1962</option>
                        <option value="1961">1961</option>
                        <option value="1960">1960</option>
                        <option value="1959">1959</option>
                        <option value="1958">1958</option>
                        <option value="1957">1957</option>
                        <option value="1956">1956</option>
                        <option value="1955">1955</option>
                        <option value="1954">1954</option>
                        <option value="1953">1953</option>
                        <option value="1952">1952</option>
                        <option value="1951">1951</option>
                        <option value="1950">1950</option>
                    </select>
                </div>
                <div class="col-12">
                        <center>
                                <button class="btn btn-warning btn-form-submit  text-white" id="btn-on-submit" style="height:50px;">Sign Up</button>
                                <p class="m-1">
                                        You already have an account ? <a href="#">Log in here</a>
                                </p>
                            </center>
                       
                    </div>
            </div>
           
        </div>
    </div>
    <div layout:fragment="scriptor">


        <script th:inline="javascript">
             var form = document.getElementById('SchoolForm');
              //convert all of datalist option into array
             var optionValueAsArray = $('#browsers').children().map(function(){
                         return this.value;
                     }).get();
             var message ="Please pick your ";
             var schoolMessage ="Please pick your ";

         function validateInputById(a){

            var input = document.getElementById(a);

                let checked = false;

                optionValueAsArray.forEach(function(element){
                    if(element===input.value){


                        checked = true;
                        return;
                    }

                })
                if(checked){
                  /*  alert("Success");*/

                    return true;
                }
                else{
                    if(a=='pri_school'){
                    message +="Primary school ";
                    }
                    if(a=='pre_school'){
                    message +=", pre school ";
                    }
                    if(a=='high_school'){
                    message +=", high school ";
                    }

                    return false;
                }
            }

            function validate(){
           var primary = validateInputById('pri_school');
           var pre = validateInputById('pre_school');
           var high = validateInputById('high_school');

           var year1 =  validateSchoolYear('y1');
           var year2 =validateSchoolYear('y2');
           var year3 =validateSchoolYear('y3');


           if(primary ==false|pre==false|high==false){
          Swal.fire({
                 position: 'top',
                 type: 'error',
                   title: message +" name",
                    showConfirmButton: false,

                    });

            return false;
           }

          if(year1==false|year2==false|year3==false){

           Swal.fire({
                 position: 'top-end',
                 type: 'error',
                   title:  schoolMessage +" year",
                    showConfirmButton: false,

                    });
                    return false;
          }




                return true;


            }

            function validateSchoolYear(yearID){
            var checked = true;
            var year = document.getElementById(yearID)
            if(year.value==""){
             checked = false;
                if(yearID==y1){
                     schoolMessage+=" primary school";
                }
                if(yearID==y2){
                     schoolMessage+=" pre school";
                }
                 if(yearID==y3){
                     schoolMessage+=" high school";
                }

            }

                 return checked;
            }




            const all_schools = [[${ SCHOOLS }]];

            const findSchoolId = (school_name) => {
                let school_id;
                all_schools.forEach(school => {
                    if (school_name == school.name) {
                        school_id = school.id;
                        return;
                    }
                })
                return school_id;
            }

            const generateObj = (school1, school2, school3, year1, year2, year3) => {
                return {
                    'years': [year1, year2, year3],
                    'schools': [school1, school2, school3]
                }
            }

            /*
             VALIDATION
              datalist function in minea
              select not yet done
            
            */
            $("#btn-on-submit").on("click", function () {
                if(validate()==false){
                    return;
                }
                let pri_school = $("#pri_school");
                let pre_school = $("#pre_school");
                let high_school = $("#high_school");
                let year1 = parseInt(document.getElementById("y1").value);
                let year2 = parseInt(document.getElementById("y2").value);
                let year3 = parseInt(document.getElementById("y3").value);
                $.ajax({
                    type: "POST",
                    url: "http://localhost:8080/school  ",
                    headers: {
                        "content-type": "application/json;charset=UTF-8"

                    },
                    data: JSON.stringify(
                        generateObj(findSchoolId(pri_school.val()), findSchoolId(pre_school.val()), findSchoolId(high_school.val()), year1, year2, year3)
                    ),
                    success: function (response) {
                        window.location.href = response.redirect;
                    }
                })
            });


        </script>

    </div>

</body>

</html>